#title, .title {{
    font-size: 22px;
    font-weight: bold;
}}

QDoubleSpinBox, QComboBox {{
    color: {QTMATERIAL_SECONDARYTEXTCOLOR};
}}

QLabel#img_path {{
    border: 1px solid #6F6F6F;
    padding: 5px;
}}

.mode-btn {{
    font-size: 18px;
    font-weight: bold;
}}

.mode-btn:checked{{
    border: 0px;
    border-bottom: 12px solid {QTMATERIAL_PRIMARYCOLOR};
}}

.transparent-bg{{
    background-color: rgba(0, 0, 0, 127);
}}

QPushButton.transparent-bg:hover{{
    background-color: rgba(0, 0, 0, 0);
}}

QPushButton.transparent-bg:focus{{
    background-color: rgba(0, 0, 0, 0);
}}